[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name[en_US]=OEM Liveuser Setup Tool
Exec=sudo /usr/bin/liveuser.sh
Name=Revenge OS Welcome
Comment=OEM Liveuser Setup Tool
